:root {
  --user-primary-color: #2B2A33;
  --user-secondary-color: #FBFBFE;
  --user-tertiary-color: #42414D;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --user-primary-color: #2B2A33;
    --user-secondary-color: #FBFBFE;
    --user-tertiary-color: #42414D;
  }
}
@media (prefers-color-scheme: light) {
  :root {
      --user-primary-color: #FBFBFE;
      --user-secondary-color: #2B2A33;
      --user-tertiary-color: #E4E4E4;
  }
} */

body {
  background-color: var(--user-primary-color);
  color: var(--user-secondary-color);
  font-family: system-ui;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  user-select: none;
  background-size: 100%;
  background-color: var(--user-tertiary-color);
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  margin-top: 0;
  margin-bottom: 10px;
}

.grid-container {
  background-color: var(--user-primary-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
  margin-left: 5%;
  margin-right: 5%;
  min-width: min-content;
  z-index: 3;
}

.sliders {
  margin: 0 0 0 0;
  background-color: var(--user-primary-color);
  max-width: 350px;
  display: grid;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 2;
}

.range-label {
  display: grid;
  grid-template-columns: 1fr;
  accent-color: #FE7836;
  user-select: none;
  margin-bottom: 10px;
  margin-top: 10px;
  z-index: 1;
}

.visualizer {
  border: 3px solid var(--user-tertiary-color);
  width: 100%;
  aspect-ratio: 1;
  position: relative;
}

#canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#info {
  color: var(--user-tertiary-color);
  width: 100%;
  position: fixed;
  bottom: 0px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: smaller;
  z-index: 0;
}

#version{
  font-weight: bold;
}
